.container-feedback {
    display: grid;
    place-items: start end;
    height: 85vh;
    width:97vw;
   margin-top:11vh;
   margin-left:1vw;
 }
.data_container{
   display: flex;
   gap:15px;
   align-items: center;
}
#trump{
   height:80vh;
   width:40vw;
}
.feedback{
    width: 50vw;
    height:75vh;
    border: 2px solid black;
    background-color: rgb(250, 232, 144);
    border-radius: 12px;
    display: grid;
    place-items: center;
    padding: 20px;
    margin-bottom: 2vh;
}
.rate-us{
    display:flex;
    gap:15vh;
}
.rate-us p{
    margin-top:1vh;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 15px;
  }

  input[type="radio"] {
    display: none;
  }

  label {
    cursor: pointer;
  }

  label svg {
    width: 44px;
    height: 44px;
    fill: none;
    stroke: #000;
    stroke-width: 2px;
    transition: fill 0.3s, transform 0.3s ease-out;
  }

  input[type="radio"]:checked ~ label svg {
    fill: rgb(28,2,2);
    transform: scale(1.2);
  }


  .rating input[type="radio"]:checked ~ label svg,
  .rating input[type="radio"]:checked ~ label ~ label svg {
    fill: rgb(28, 2, 2);
  }

  
@media (min-width: 680px) and (max-width: 1100px) {
    .container-feedback {
        width:100vw;
     }
     .feedback{
        width: 80vw;
    }
}
@media (min-width: 350px) and (max-width: 680px) {
     .feedback{
        width: 150vw;
        height:105vh;
    }
    #trump{
        height:105vh;
     }
}
@media (min-width: 240px) and (max-width: 350px) {
    .feedback{
       width: 220vw;
       height:125vh;
   }
   #trump{
       height:125vh;
    }
}
@media (min-width: 190px) and (max-width: 240px) {
    .feedback{
       width: 280vw;
       height:175vh;
   }
   #trump{
       height:175vh;
    }
}
@media (min-width: 90px) and (max-width: 190px) {
    .feedback{
       width: 350vw;
       height:200vh;
   }
   #trump{
       height:200vh;
    }
}