
.container-profile {
    display: grid;
    place-items: start end;
    height: 175vh;
    width:97vw;
   margin-top:-20vh;
   margin-right:1.5vw;
 }
 
.pro_img_container{
    width: 98vw;
    display: flex;
  justify-content: space-between;
}
#user_delete{
    height:35vh;
 width:40vw;
}
#user_img{
 height:50vh;
 width:30vw;
 margin-left:5vw;
 margin-top:8vh;
}
#user_protected{
    height:40vh;
    width:25vw;
    margin-left:7vw;
    margin-top:8vh;
    border-radius:50%;
    border:2px solid green;
}
.profile, .profile-password, .profile-delete {
    width: 50vw;
    border: 2px solid black;
    background-color: rgb(250, 232, 144);
    border-radius: 12px;
    display: grid;
    place-items: center;
    padding: 20px;
    margin-bottom: 2vh;
}

.profile-delete {
    margin-bottom: 12vh;
}

 .input-profile {
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    border: 2px solid #333;
    font-size: 1rem;
    margin-bottom: 10px;
} 

form {
    display: grid;
    width: 100%;
    gap: 8px;
}

form button[type="submit"]{
    background-color: rgb(90, 175, 208);
    color: white;
    width: 10vw;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease, border 0.2s ease;
    justify-self: center; 
    padding: 10px;
}

button[type="delete"] {
    background-color: rgb(228, 54, 31);
    margin-top: -10px;
    width: 10vw;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease, border 0.2s ease;
    justify-self: center; 
    padding: 10px;
}

form button:hover {
    border: 2px solid black;
    transform: scale(1.05);
}

@media (min-width: 500px) and (max-width: 700px) {
    button[type="delete"] {
        width: 15vw;
    }
}
@media (min-width: 300px) and (max-width: 500px) {
    button[type="delete"] {
        width: 22vw;
    }
    form button[type="submit"]{
        width: 17vw;
    }
}
@media (min-width: 180px) and (max-width: 300px) {
    button[type="delete"] {
        width: 35vw;
    }
    form button[type="submit"]{
        width: 28vw;
    }
    .profile, .profile-password, .profile-delete{
        width:13vh;
    }
}
@media (min-width: 90px) and (max-width: 180px) {
    .container-profile {
        width: 220vw;
    }
    button[type="delete"] {
        width: 70vw;
    }
    form button[type="submit"]{
        width: 60vw;
    }
    .profile, .profile-password, .profile-delete{
        width:15vh;
    }
    .pro_img_container{
        width: 200vw;
    }
}
