.contain-user {
    height: auto;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .form-container-user {
    width: 100%;
    max-width: 850px; 
    padding: 20px;
    background-color:rgb(250, 232, 144);
    border-radius: 8px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border:2px solid black;
    margin-top:5vh;
  }
  
  .ticket-form input,
  .ticket-form textarea,
  .ticket-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    width:20vw;
  }
  
  .ticket-form button {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .ticket-form button:hover {
    background-color: #000;
    color:white;
    border:2px solid white;
    transform: scale(0.97);
    border-radius:15px;
  }
  
  /* Responsive Design */
  @media (min-width: 1385px) {
    .form-container-user {
      width: 80%;
      max-width: 950px;
    }
    .contain-user {   
   margin-left:35vh;
   width:70vw;  
    }
    .ticket-form input,
    .ticket-form textarea,
    .ticket-form button {
      width:50vw; 
    }
  }
  @media (min-width: 1270px) and (max-width:1385px){
    .form-container-user {
      width: 80%; 
      max-width: 800px;
    }
    .contain-user {   
   margin-left:20vh;
   width:70vw;  
    }
    .ticket-form input,
    .ticket-form textarea,
    .ticket-form button {
      width:50vw; 
    }
  }
  @media (min-width: 1000px) and (max-width:1270px){
    .form-container-user {
      width: 100%; /* Default for smaller screens */
      max-width: 800px;
    }
    .contain-user {   
   margin-left:15vh;
   width:70vw;  
    }
    .ticket-form input,
    .ticket-form textarea,
    .ticket-form button {
      width:60vw; 
    }
  }
  
  @media (min-width: 500px) and (max-width:1000px){
    .form-container-user {
      width: 110%; 
      max-width: 800px;
    }
    .contain-user {   
   margin-left:15vh;
   width:70vw;  
    }
    .ticket-form input,
    .ticket-form textarea,
    .ticket-form button {
      width:65vw; 
    }
  }

  @media  (max-width:500px){
    .form-container-user {
      width: 110%; 
      max-width: 800px;
    }
    .contain-user {   
   margin-left:15vh;
   width:70vw;  
    }
    .ticket-form input,
    .ticket-form textarea,
    .ticket-form button {
      width:60vw; 
    }
  }