/* AddNewClient.css */

.add-client-wrapper {
    margin-top: 60vh;
    width: 100vw;

    background-color: #f9f9f9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.add-client-container {
    /*max-width: 600px;*/
    background-color: white;
    margin: 40px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 25px;
    color: #333;
}

.client-form .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.client-form label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #444;
}

.client-form input,
.client-form textarea {
    color: black;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: #fdfdfd;
}

.client-form textarea {
    resize: vertical;
    min-height: 80px;
}

.submit-btn {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.submit-btn:hover {
    background-color: #45a049;
}
