.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align to top */
  z-index: 9999;
}

.modal-content {
  width: 20%;
  height: 25%;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  margin-top: 100px; /* Top spacing updated */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
